<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body style="background-color: rgb(188, 226, 126);">
   
        <a style="color: palevioletred;" href="./home.html ">Home</a>
        <a style="color: palevioletred;" href="./contact.html">Contact</a>
        <div style="background-color: rgb(207, 243, 148);"> <header></header>
    </header>
    <center>
        <div style="border: 5px solid white; padding: 16px;">
    <h1 style="font-size: 50px; padding: 10px; color: palevioletred;">Home Page</h1>
    <p style="color: palevioletred; font-size: 25px;">The Page that's Home</p>
    
        <img style="border: 5px solid whitesmoke"; src="/Users/idan/Desktop/WEB/Idan_maierovicz/static/secondHouse.png" alt="House" style="padding: 20px;">
<p style="color: palevioletred; font-size: larger;">If you love home pages as much as we do, you have come to the right place!</p>
<a style="color: palevioletred; font-size: larger;" href="./contact.html">Tell us how much you love home pages</p>   
</center>
</div>
</div>
</body>
</html>