<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <a href="./home.html">Home</a>
        <a href="./contact.html">Contact</a>
    </header>
    <center>
        <div style="border: 5px solid black; padding: 16px;">
    <h1 style="padding: 10px;">Home Page</h1>
    <p>The Page that's Home</p>
    <img src="/Users/idan/Desktop/WEB/Idan_maierovicz/static/secondHouse.png" alt="House" style="padding: 20px;">
</center>
</div>
</body>
</html>